<!-- HTML Structure of Profile Page -->

<div class="container">
  <div class="profile-grid">
    <!-- Profile Information Card -->
    <div class="left-column">
      <div class="profile-card-container">
        <profile-about-card [profile]="profile" />
        <mat-card class="profile-management">
          <mat-card-header>
            <mat-card-title>Profile Actions</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="profile-management-actions">
            <div class="action-section">
              <p class="section-title">Github</p>
              <div class="action-buttons">
                <div *ngIf="profile.github !== ''; else associate_github">
                  <button
                    class="action-button"
                    mat-stroked-button
                    (click)="unlinkGitHub()">
                    Unlink GitHub
                  </button>
                </div>
                <ng-template #associate_github>
                  <button
                    class="action-button"
                    mat-stroked-button
                    (click)="linkWithGitHub()">
                    Link with GitHub
                  </button>
                </ng-template>
              </div>
            </div>
            <div class="action-section">
              <p class="section-title">Community Agreement</p>
              <div class="action-buttons">
                <button
                  class="action-button"
                  mat-stroked-button
                  type="button"
                  (click)="openAgreementDialog()">
                  View Community Agreement
                </button>
              </div>
            </div>
            <div class="action-section">
              <p class="section-title">Auth Bearer Token</p>
              <div class="action-buttons">
                <button
                  class="action-button"
                  mat-stroked-button
                  type="submit"
                  (click)="displayToken()">
                  {{ showToken ? 'Hide Bearer Token' : 'Display Bearer Token' }}
                </button>
                <button
                  class="action-button"
                  mat-stroked-button
                  type="submit"
                  (click)="copyToken()">
                  Copy Bearer Token
                </button>
              </div>
              <p class="token-text" *ngIf="showToken && token">
                <code>{{ token }}</code>
              </p>
            </div>
          </mat-card-actions>
        </mat-card>

        <!-- Org List mat-card -->

        <mat-card class="organization-list">
          <mat-card-header>
            <mat-card-title>My Organizations</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="profile-management-actions">
            <p class="section-title" *ngIf="associatedOrganizations.length === 0"> Join organizations to see them listed here </p>
            <div class="action-section" *ngFor="let org of associatedOrganizations">
              <div class="action-buttons">
                  <img mat-card-image src="{{ org.logo }}" class="logo" alt="Organization Logo"/>
                  <button
                    class="action-button"
                    mat-stroked-button
                    (click)="router.navigate(['/organizations', org.slug])">
                    {{org.name}}
                  </button>
                </div>
            </div>
          </mat-card-actions>
        </mat-card>

        <!-- Application Status mat-card -->

        <mat-card>
          <mat-card-header>
            <mat-card-title>My Applications</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="profile-management-actions">
            <p class="section-title" *ngIf="applications.length === 0"> You have not submitted any applications </p>
            <div class="action-section" *ngFor="let app of applications">
              <p class="section-title"> {{ app.organization.name }} </p>
              <span class="status-indicator"
                [class.green]="app.status === applicationStatus.Accepted"
                [class.yellow]="app.status === applicationStatus.Pending"
                [class.red]="app.status === applicationStatus.Rejected">
              </span>
                {{ app.status === applicationStatus.Pending ? 'Pending' :
                app.status === applicationStatus.Rejected ? 'Rejected' :
                app.status === applicationStatus.Accepted ? 'Accepted' : '' }}
              <button 
                  mat-stroked-button 
                  class="action-button"
                  (click)="deleteApplication(app.id)"
                  *ngIf="app.status === applicationStatus.Pending">
                  Withdrawal Application
                </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
