<!-- eslint-disable prettier/prettier -->

<!-- started using comments to map out what the mat-card content may look like -->
<!-- but i think we need the data from the org roster TS to make real progress -->

<mat-card class="content" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Our Members</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table>
            <!-- put this next to table mat-table above: [dataSource] = "members"-->
            <!-- <ng-container matColumnDef="name"> -->
            <!-- <th mat-header-cell *matHeaderCellDef>Name</th> -->
            <!-- <td mat-cell *matCellDef="let element">
                    {{ element.member_name }} {{ element.name }}
                  </td> -->

            <!-- member list from organization roster TS -->
        </table>
    </mat-card-content>