<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined">
    <mat-card-content>
      <!-- Name -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          name="name"
          required />
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email."
          formControlName="email"
          name="email"
          required />
      </mat-form-field>

      <!-- Major -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Major</mat-label>
        <input
          matInput
          placeholder="Major"
          formControlName="major"
          name="major" />
      </mat-form-field>

      <!-- Minor -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Minor</mat-label>
        <input
          matInput
          placeholder="Minor"
          formControlName="minor"
          name="minor" />
      </mat-form-field>

      <!-- Year -->
      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year" name="year">
          <mat-option *ngFor="let year of yearOptions" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Pronouns -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Pronouns</mat-label>
        <input
          matInput
          placeholder="Pronouns"
          formControlName="pronouns"
          name="pronouns" />
      </mat-form-field>

      <!-- Interest -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Interest</mat-label>
        <input
          matInput
          placeholder="Interest"
          formControlName="interest"
          name="interest" />
      </mat-form-field>

      <!-- Submit Button -->
      <mat-card-actions>
        <button
          mat-stroked-button
          type="submit"
          [disabled]="applicationForm.invalid">
          Submit
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
