<!-- HTML Structure of Organization Details Page -->

<!-- <div class="organization-grid">

    Organization Information Card
<div class="organization-card-container">

</div>
</div> -->

<organization-not-found-card
  *ngIf="organization === undefined; else eventDetails" />

<ng-template #eventDetails>
  <organization-details-info-card
    [organization]="organization"
    [profile]="profile" />

  <mat-card appearance="outlined" *ngIf="profile && leaders.length !== 0">
    <mat-card-header>
      <mat-card-title> Our Leaders </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="leaders-grid">
        <div class="leader-card" *ngFor="let leader of leaders">
          <div class="position">{{ leader.position }}</div>
          <div class="name">{{ leader.user.first_name }}</div>
          <div class="name">{{ leader.user.last_name }}</div>
        </div>
      </div>
    </mat-card-content>
    
    <div class="card-actions">
      <button mat-stroked-button (click)="router.navigate(['/organizations', organization.slug, 'roster'])">
        View Full Roster
      </button>
    </div>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="profile && profile && leaders.length == 0">
    <mat-card-header>
      <mat-card-title> This organization does not have any leaders </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="card-actions">
      <button mat-stroked-button (click)="router.navigate(['/organizations', organization.slug, 'roster'])">
        View Full Roster
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="event-listing-container">
    <event-list
      [eventsPerDay]="eventsPerDay"
      [organization]="organization"
      [selectedEvent]="null"
      [disableLinks]="false"
      [showHeader]="true"
      [showCreateButton]="(eventCreationPermission$ | async)!" />
  </div>
</ng-template>


